# Configurações do S3/DigitalOcean Spaces
STORAGE_S3_NAME_SPACE=seu-bucket-name
STORAGE_S3_ACCESS_KEY=sua-access-key
STORAGE_S3_SECRET_KEY=sua-secret-key

# Configurações do RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/

# Configurações do VPS (para GitHub Actions)
VPS_HOST=seu-vps-ip
VPS_USERNAME=seu-usuario
VPS_SSH_KEY=sua-chave-ssh-privada
VPS_PORT=22

# Configurações do GitHub
GITHUB_TOKEN=seu-github-token
